/* poppins-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    src: url("./fonts/poppins-v20-latin-500.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url("./fonts/poppins-v20-latin-500.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/poppins-v20-latin-700.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url("./fonts/poppins-v20-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins" , "Arial", sans-serif;
}

.container {
    
    width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
    
}

.inner-header {
    margin: 0;
    padding-top: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.left-header {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 32px;
}

.right-header {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 37px;
}

.logo {
    margin-right: 8px;
}

.header-link {
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #9E9AA8;
    text-decoration: none;
}

.sign-up {
    color: #fff;
    padding: 9px 24px;
    width: 105px;
    height: 40px;
    background: #2BD0D0;
    border-radius: 28px;
}

.header-link:hover {
    color:#34313D;
}

.sign-up:hover {
    background: #9AE3E3;
    color: #fff;
}

/* Hero section starts */

.hero {
    position: relative;
}

.hero__wrapper {
    padding-top: 132px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.hero__title {
    margin: 0;
    padding-bottom: 5px;
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: -2px;
    color: #34313D;
}

.hero__desc {
    margin: 0;
    padding-bottom: 38px;
    font-weight: 500;
    font-size: 22px;
    line-height: 36px; 
    letter-spacing: 0.15px;
    color: #9E9AA8;
    
}

.hero__link {
    padding: 14px 40px;
    background: #2BD0D0;
    border-radius: 28px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;    
    color: #FFFFFF;
    text-decoration: none;
}

.hero__bg {
    position: relative;
}

.hero__bg--grey {
    position: absolute;
    z-index: -1;
    left: calc(50% + 170px);
}

.hero__link:hover{
    background: #9AE3E3;
    color: #fff;
}



/* Hero section ends */

/* User link section starts */


.userlink {
    position: absolute;
    padding-top: 138px;
    width: 100%;
    left: 0;
    
    
}

.userlink__wrapper {
    background-image: url(/images/article-bg.png);
    background-size: cover;
    border-radius: 10px;
    z-index: 8;
}

.userlink__form {
    padding: 52px 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    
    
}

.userlink__input {
    width: 769px;
    height: 64px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 32px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
}

.userlink__input::placeholder {
    font-weight: 500;
    font-size: 20px;
    line-height: 36px; 
    letter-spacing: 0.15px;
    color: #34313D;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.userlink__btn {
    padding: 18px 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    background: #2BD0D0;
    border-radius: 10px;
    border: none;
}

.userlink__btn:hover {
    background:#9AE3E3;
    color: #fff;
}


/* User link section ends */

/*  */


.statsection {
    margin-top: 225px;
    width: 100%;
    height: 800px;
    background-color: #F2F2F2;;
    z-index: 1;
}

.statsection__inner {
    padding-top: 203px;
    text-align: center;
}

.statsection__title {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -1px;
    color: #34313D;
    
}

.statsection__subtitle {
    margin: 0;
    padding-top: 18px;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.122727px;
    color: #9E9AA8;
}

.statsection__list {
    position: relative;
    margin: 0;
    padding-top: 100px;
    padding-left: 0;
    display: flex;
    gap: 30px;
    list-style: none;
    z-index: 5;
}

.statsection__item {
    position: relative;
    width: 350px;
    height: 267px;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 77px 32px 41px;
}

.statsection__header {
    margin: 0;
    padding-bottom: 12px;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #34313D;
}

.statsection__desc {
    margin: 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;    
    color: #9E9AA8;
}


.item--icon1::before {
    position: absolute;
    display: block;
    bottom: calc(71% + 30px);
    left: calc(8% + 5px);
    background-image: url(/images/improve-icon.svg);
    width: 88px;
    height: 88px;
    content: '';
}

.item--icon2::before {
    position: absolute;
    display: block;
    bottom: calc(71% + 30px);
    left: calc(8% + 5px);
    background-image: url(/images/speed-icon.svg);
    width: 88px;
    height: 88px;
    content: '';
}

.item--icon3::before {
    position: absolute;
    display: block;
    bottom: calc(71% + 30px);
    left: calc(8% + 5px);
    background-image: url(/images/painting-icon.svg);
    width: 88px;
    height: 88px;
    content: '';
}

.statsection__item:nth-child(2) {
    margin-top: 44px;
}

.statsection__item:nth-child(3) {
    margin-top: 88px;
}

.statsection__line {
    position: absolute;
    top: calc(50% + 20px);
    width: 1110px;
    height: 8px;
    background: #2BD0D0;
    z-index: -1;
    
}

/* Stat section ends */

/*  Blog section starts */

.blog {
    margin-top: 120px;
    background-image: url(/images/primary-footer-bg.png);
    background-size: cover;
}

.blog__wrapper {
    text-align: center;
    padding: 57px 0;
}

.blog__title {
    margin: 0;
    padding-bottom: 42px;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
    color: #FFFFFF;
}

.blog__link {
    padding: 14px 40px;
    background: #2BD0D0;
    border-radius: 28px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;    
    color: #FFFFFF;
    text-decoration: none;
}

.blog__link:hover{
    background: #9AE3E3;
    color: #fff;
}

/* Footer section starts  */

.footer{
    background-color: #000;
}

.footer__wrapper {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.footer__logo {
    margin-top: 72px;
    margin-right: 160px;
}

.footer__list {
    margin: 72px 0 0;
    padding: 0;
    list-style: none;
}

.contact__list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    
}

.footer__item:not(:first-child){
    padding-bottom: 10px;
}

.footer__item:nth-child(1){
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.25px;
    color: #FFFFFF;
    padding-bottom: 22px;
}

.footer__link {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.234375px;
    color: #BFBFBF;
    text-decoration: none;
}

.contact__icon:hover{
    filter:hue-rotate()
}


.footer__link:hover{
    color: #2BD0D0;

}